/*Nav bar start */

/*#navbar
{
	position: fixed;
	top: 0;
	width:1300px;
}
*/
 #navbar ul 
{ 
	height: 80px;
	margin: 0; 
	padding: 5px;
	list-style-type: none;
	text-align: center; 
	background-color: #000; 
} 
 
#navbar ul li 
{  
	display: inline; 
} 
 
#navbar ul li a 
{ 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
} 
 
#navbar ul li a:hover 
{ 
	color: #000; 
	background-color: #fff; 
}
/*Nav bar end*/

/* Intro tab start*/
#intro
{
	background-color: #c1baba;
	width:1424px;
	height:500px;
}

.container h1
{
	margin:0;
	text-align:center;
}
/* Intro tab end*/

/* Projects tab start*/
#projects
{
	background-color: #ffeb3b;
	width:1424px;
	height:500px;
}

.container-rows
{
	float:left;
	width:33.33%;
}

#projects .container-rows a
{
	  display: grid;
	  grid-auto-rows: minmax(150px, auto);
	  text-align:center;

}
/* Projects tab end*/

/* Contact tab start*/
#contact
{
	background-color: #4caf50;
	width:1424px;
	height:500px;
}

#contact h1
{
	margin: 0px;
}
/* Contact tab end*/